{% extends 'base.html' %}

    {% block content %}
        <h1 style="color: #3498db; text-align: center;" >You  {{ assignments.count }} assignment(s)</h1>
        <ul style="list-style-type: none; padding: 0;">
    <li style="margin-bottom: 10px;"><a href="{% url 'add_assignments' %}" style="text-decoration: none; color: #2ecc71; font-size: 1.2em;">Add Assignment</a></li>
</ul>
        {% for assignment in assignments %}
            <div style="border: 1px solid #ccc; margin-bottom: 20px; padding: 15px;">
            <div style="margin-bottom: 10px;">
                            <a href="{% url 'delete_assignment' pk=assignment.id %}" style="text-decoration: none; color: #e74c3c;">Delete</a>
                            <a href="{% url 'update_assignment' pk=assignment.id %}" style="text-decoration: none; color: #3498db; margin-right: 10px;">Update</a>
            </div>
            <div style="margin-top: 10px;">

        <p style="font-weight: bold; font-size: 1.2em;"> {{ assignment.employee }}</p>
                    <p> {{ assignment.position }}</p>

                    <p> {{ assignment.begin_date }}</p>

                    <p> {{ assignment.end_date }}</p>

{#        <p>{{ job.employees }}</p>#}
        {% endfor %}
        {% endblock %}

